/**
 * Define the space for each grid item by declaring the grid
 * on the grid container.
 */
 #grid {
    /**
     * Two columns:
     *  1. the first sized to content,
     *  2. the second receives the remaining space
     *     (but is never smaller than the minimum size of the board
     *     or the game controls, which occupy this column [Figure 4])
     *
     * Three rows:
     *  3. the first sized to content,
     *  4. the middle row receives the remaining space
     *     (but is never smaller than the minimum height
     *      of the board or stats areas)
     *  5. the last sized to content.
     */
    display: grid;
    grid-template-columns:
      /* 1 */ auto
      /* 2 */ 1fr;
    grid-template-rows:
      /* 3 */ auto
      /* 4 */ 1fr
      /* 5 */ auto;


      /* Again the template property defines areas of the same name,
       * but this time positioned differently to better suit a
       * landscape orientation. */
       grid-template-areas: 
       "product sell"
       "inventory sell"
       "purchase report";

       grid-gap: 1rem;
       //background-color: #fff;
        //color: #444;
        margin: 2rem;
  }



  
  /* The grid-area property places a grid item into a named
   * area of the grid. */
  #product    { grid-area: product; background-color: #63d17b; }
  #sell    { grid-area: sell; background-color: #d2dd6d; }
  #inventory    { grid-area: inventory; background-color: #ddad6d; }
  #purchase    { grid-area: purchase; background-color: #dd6db8; } 
  #report { grid-area: report; background-color: #6dd6dd; }


  .box {
    // background-color: #444;
    color: #fff;
    border-radius: 1rem;
    padding: 5rem;
    font-size: 150%;
    text-align: center;

}