<div id="grid">

  <div class="box" id="product">
    <a routerLink="/product">
      <div>
        <img src="/assets/product.png" class="image" />
        <div class="text">Product</div>
      </div>
    </a>
  </div>

  <div class="box" id="purchase">
    <a routerLink="/product">
      <div>
        <img src="/assets/purchase.png" class="image" />
        <div class="text">Purchase</div>
      </div>
    </a>
  </div>

  <div class="box" id="inventory">
    <a routerLink="/product">
      <div>
        <img src="/assets/inventory.png" class="image" />
        <div class="text">Inventory</div>
      </div>
    </a>
  </div>

  <div class="box" id="sale">
    <a routerLink="/product">
      <div>
        <img src="/assets/sale.png" class="image" />
        <div class="text">Sale</div>
      </div>
    </a>
  </div>

  <div class="box" id="report">
    <a routerLink="/product">
      <div>
        <img src="/assets/report.png" class="image" />
        <div class="text">Report</div>
      </div>
    </a>
  </div>

</div>